rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reciplan/{userId}/{document=**} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth != null;
    }
    match /reciplan/daily/{document=**}{
    allow read,write: if true;
    }
  }
}